transformers>=4.35.2
optimum>=1.12.0
sv-ttk
# The following line is for auto-gptq. It specifies the extra index URL needed for its installation.
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
auto-gptq
scipy~=1.11.4
pillow~=10.1.0
keyboard~=0.13.5
flash_attn
plotext~=5.2.8
torch~=2.1.1
pip~=22.3.1
attrs~=23.1.0
wheel~=0.38.4
Pillow~=10.1.0
Jinja2~=3.1.2
setuptools~=65.5.1
packaging~=23.2
pyparsing~=3.1.1
numpy~=1.26.2
matplotlib~=3.8.2
pandas~=2.1.3
screeninfo~=0.8.1
imageio~=2.33.0
huggingface_hub
gptq
flask~=3.0.3
flask-cors


numpy>=1.21.0
moderngl>=5.7.0
glfw>=2.5.5
pyopengl>=3.1.6
pycuda>=2022.1
imgui[glfw]>=2.0.0
future~=1.0.0
PyGLM
datasets~=2.15.0
argparse~=1.4.0
requests~=2.31.0
nvidia_smi